<!DOCTYPE html>
<html>
    <head>
        <title>Home | Ruby on Rails App</title>
    </head>
    <body>
        <h1>Sample App</h1>
        <p>
            This is the home page for the sample app
        </p>
    </body>
</html>